A server MUST NOT send transfer-codings to an HTTP/1.0 client. 

The MUST NOT is clear and the constraint is stipulated in RFC2616  section 3.6 Transfer Codings 
